
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #111827;
    padding: 30px 15px;
}

.container{
    max-width: 1100px;
    margin: 0 auto ;

}

h2{
    text-align: center;
    margin-bottom: 25px;
}